<div class="tg_pop tg_pop_adv">
  <div class="tg_pop_adv_content">
    <div class="tg_pop_adv_content_textwidget">
      <a href="{{ path('<front>') }}download"><img src="{{ active_theme_path() }}/images/img_adv_12112024.png" alt=""></a>
    </div>
    <div class="tg_close_pop">
      <img src="{{ active_theme_path() }}/images/tg_close_pop.png" alt="">
    </div>
  </div>
</div>
