
{% include '@runsystem/parts/menu_mobile.html.twig' %}
{% include '@runsystem/parts/header.html.twig' %}

<div class="tg_content">
  <div class="tg_content_contact_area">
    <div class="tg_container">
      <div class="tg_contact_form">
        <h5 class="title-contact">Contact</h5>
        <div class="tg_content_intro_title">
          <h2 class="tg_text_form">お問い合わせフォーム</h2>
          <b class="tg_content_intro_super_title">Contact</b>
        </div>
        <p>下記のフォームに必要事項を入力いただき、送信してください。</p>
        <p>3営業日以内に担当者より、折り返しご連絡いたします。</p>
      </div>

      {{ page.content }}

    </div>
  </div>
</div>

{% include '@runsystem/parts/footer.html.twig' %}
