
{% include '@runsystem/parts/header_contact_download.html.twig' %}

<div class="tg_content">
  <div class="tg_content_download tg_content_download_thanks">
    <div class="tg_container">
      <div class="tg_contact_form">
        <h5 class="title-download">Download</h5>
        <div class="tg_content_intro_title">
          <h2 class="tg_text_form">資料ダウンロード</h2>
          <b class="tg_content_intro_super_title">Thanks</b>
        </div>
        <p>ご入力いただきましたメールアドレスに、ダウンロードURLを送付いたしました。</p>
        <p>ご確認いただけますと幸いです。</p>
        <p>何かご不明点ございましたら、<a href="{{ path('<front>') }}contact-us">こちら</a>からお問い合わせくださいませ。</p>
      </div>
    </div>
  </div>
</div>

{% include '@runsystem/parts/footer_contact_download.html.twig' %}
