/*fix bug giao dien no2*/
.tg_content_intro_title .highlight {
    position: relative;
    color: #f4ec09;
}

.tg_content_intro_title .dots {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 46px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .tg_content_intro_title .dots {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 28px;
  }
}
@media (max-width: 768px) {
  .tg_content_intro_title .dots {
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 22px;
  }
}
.tg_content_intro_title .dot {
    width: 8px;
    height: 8px;
    background-color: #f4ec09;
    border-radius: 50%;
}

/* fix bug giao dien no8*/
.tg_content_intro_team .tg_content_intro_title strong{
    top: -1.5rem;
}

.tg_content_intro_method .tg_content_intro_title strong{
    top: -1rem;
}

.tg_content_question .tg_content_intro_title h2{
    top: 1rem;
}


