<div class="tg_content_wrap_method_team_work">
	<div class="tg_bg_square"></div>
	<div class="tg_content_intro_team">
		<div class="tg_container">
			<div class="tg_content_intro_title">
				<strong>Team</strong>
				<h2>開発体制</h2>
				<p>
					<span>日本語の話せるブリッジSEが窓口担当となり、すべて日本語でプロジェクトを進行いたします。</span>
				</p>
				<b class="tg_content_intro_super_title">Team</b>
			</div>
			<div class="tg_content_intro_team_wrap">
				<div class="tg_content_intro_team_wrap_inner">
					<div class="tg_content_intro_team_wrap_inner_left">
						<figure><img src="{{ active_theme_path() }}/images/team_img1_08122024.png" alt=""/></figure>
					</div>
					<div class="tg_content_intro_team_wrap_inner_right">
						<div class="tg_content_intro_team_wrap_inner_right_top">
							<b>日本語スピーカーが窓口でPJTを進行</b>
							<h3>オフショア開発が初めての方でも安心です。</h3>
							<div class="tg_textwidget">
								<p>
									日本のお客様をメインに19年の開発実績あるGMOランシステムでは、日本語スピーカーを50名超確保。<strong class="tg_title_yel">日本語に堪能なベトナム人ブリッジ</strong>
									<strong class="tg_title_yel">SEがお客様の窓口</strong>をさせていただき、日本語でスムーズにプロジェクトを進行いたします。
								</p>
							</div>
						</div>
						<div class="tg_content_intro_team_wrap_inner_right_bottom">
							<div class="tg_textwidget">
								<p>案件によっては、日本人PM/SEのアサインもご提案させていただきます。</p>
								<p>複数パターンのお見積り作成もできますので、ご要望を遠慮なくお伝えください。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- tg_content_intro_team -->
</div>

