<div class="tg_content_quality tg_target4" id="home-quality">
	<div class="tg_container">
		<div class="tg_content_intro_title">
			<strong>Quality</strong>
			<h2>品質担保のための取り組み</h2>
			<b class="tg_content_intro_super_title">Quality</b>
		</div>
		<div class="tg_content_quality_wrap">
			<div class="tg_content_quality_wrap_list">
				<div class="tg_content_quality_wrap_list_item">
					<div class="tg_content_quality_wrap_list_item_wrap">
						<div class="tg_content_quality_wrap_list_item_wrap_left">
							<div class="tg_content_quality_wrap_list_item_wrap_left_title">
								<span>01</span>
								<em>品質に関す<strong class="tg_title_yel">る国際規格取得済み</strong>
								</em>
							</div>
							<div class="tg_content_quality_wrap_list_item_wrap_left_textwidget">
								<p>
									PJT品質を担保するために、組織マネジメント指標である「CMMi level3」や、品質/情報セキュリティの国際規格「ISO9001」「ISO27001」、ソフトウェアテスト国際規格「ISTQB Platinum Partner」を取得しております。
								</p>
							</div>
						</div>
						<div class="tg_content_quality_wrap_list_item_wrap_right">
							<figure>
								<a href="#"><img src="{{ active_theme_path() }}/images/quality_img1.svg" alt=""/></a>
							</figure>
						</div>
					</div>
				</div>
				<!-- tg_content_quality_wrap_list_item -->
				<div class="tg_content_quality_wrap_list_item">
					<div class="tg_content_quality_wrap_list_item_wrap">
						<div class="tg_content_quality_wrap_list_item_wrap_left">
							<div class="tg_content_quality_wrap_list_item_wrap_left_title">
								<span>02</span>
								<em>プロジェクトチーム外に<strong class="tg_title_yel">品質管理室を設定</strong>
								</em>
							</div>
							<div class="tg_content_quality_wrap_list_item_wrap_left_textwidget">
								<p>
									弊社では、日系企業にて⾧年品質管理に携わってきた日本人メンバーを中心とした品質管理室を設置しています。品質管理室が各プロジェクトを客観的視点でチェックすることで、問題を未然に防止し、安定したプロジェクト進行を実現いたします。
								</p>
							</div>
						</div>
						<div class="tg_content_quality_wrap_list_item_wrap_right">
							<figure>
								<a href="#"><img src="{{ active_theme_path() }}/images/quality_img2.svg" alt=""/></a>
							</figure>
						</div>
					</div>
				</div>
				<!-- tg_content_quality_wrap_list_item -->
				<div class="tg_content_quality_wrap_list_item">
					<div class="tg_content_quality_wrap_list_item_wrap">
						<div class="tg_content_quality_wrap_list_item_wrap_left">
							<div class="tg_content_quality_wrap_list_item_wrap_left_title">
								<span>03</span>
								<em>各種KPIで<strong class="tg_title_yel">定量的にチェック</strong>
								</em>
							</div>
							<div class="tg_content_quality_wrap_list_item_wrap_left_textwidget">
								<p>
									プロジェクト開始時に不具合密度や顧客満足度などの定量指標を定義し、マネージャーや品質管理室が定期的にチェックをしております。また、チーム内のKPT会議(振り返り会議)、お客様との振り返り会議も実施し、常に改善を行っております。
								</p>
							</div>
						</div>
						<div class="tg_content_quality_wrap_list_item_wrap_right">
							<figure>
								<a href="#"><img src="{{ active_theme_path() }}/images/quality_img3.svg" alt=""/></a>
							</figure>
						</div>
					</div>
				</div>
				<!-- tg_content_quality_wrap_list_item -->
			</div>
		</div>
	</div>
</div>
<!-- tg_content_quality -->
