<div class="tg_content_wrap_method_team_work">
	<div class="tg_bg_square"></div>
	<div class="tg_content_intro_method">
		<div class="tg_container">
			<div class="tg_content_intro_title">
				<strong>Method</strong>
				<h2>開発手法</h2>
				<p>
					<span>ウォーターフォール開発、アジャイル/スクラム開発、双方に対応可能です。</span>
				</p>
				<b class="tg_content_intro_super_title">Method</b>
			</div>
			<div class="tg_content_intro_method_wrap">
				<div class="tg_content_intro_method_wrap_bg">
					<div class="tg_content_intro_method_wrap_bg_top">
						<div class="tg_content_intro_method_wrap_bg_top_detailds">
							<div class="tg_content_intro_method_wrap_bg_top_detailds_inside">
								<b>ウォーターフォール</b>
								<figure><img src="{{ active_theme_path() }}/images/05122024-method-img1.svg" alt=""/></figure>
								<p>システム全体を要件定義フェーズで確定させ、基本的に仕様変更を前提とせず各工程を進めていく開発手法。</p>
							</div>
						</div>
						<div class="tg_content_intro_method_wrap_bg_top_detailds">
							<div class="tg_content_intro_method_wrap_bg_top_detailds_inside">
								<b>アジャイル/スクラム</b>
								<figure><img src="{{ active_theme_path() }}/images/05122024-method-img2.svg" alt=""/></figure>
								<p>システム全体の構想計画後、仕様の変更がある前提で、機能単位で細かく開発・リリースを行う開発手法。</p>
							</div>
						</div>
					</div>
					<div class="tg_content_intro_method_wrap_bg_bottom">
						<div class="tg_content_intro_method_wrap_bg_bottom_detailds">
							<div class="tg_content_intro_method_wrap_bg_bottom_detailds_figure">
								<figure><img src="{{ active_theme_path() }}/images/05122024-method-img6.svg" alt=""/></figure>
							</div>
							<div class="tg_content_intro_method_wrap_bg_bottom_detailds_textwidget">
								<strong>有資格者20名以上在籍!</strong>
								<p>
									PMP(プロジェクトマネジメント・プロフェッショナル)やPSM(プロフェッショナル・スクラム・マスター)、CSM(認定スクラムマスター)の有資格者が、安定したプロジェクト進行を実現いたします。
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- tg_content_intro_method -->
</div>
