<div class="tg_content_wrap_faq_download">
	<div class="tg_bg_square"></div>
	<div class="tg_content_question">
		<div class="tg_container">
			<div class="tg_content_intro_title">
				<strong>Question</strong>
				<h2>
					<cite>オフショア開発</cite>を検討する際の<cite>疑問点</cite>
				</h2>
				<b class="tg_content_intro_super_title">Question</b>
			</div>
			<div class="tg_content_question_wrap">
				<div class="tg_content_question_wrap_list">
					<div class="tg_content_question_wrap_list_item">
						<div class="tg_content_question_wrap_list_item_title">
							<span>Q</span>
							<p>発注側にエンジニアがいなくても、依頼できますか？</p>
							<svg width="28" height="20" viewbox="0 0 28 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.5619 18.5475C15.3746 18.7817 15.1369 18.9707 14.8666 19.1005C14.5964 19.2304 14.3003 19.2979 14.0004 19.2979C13.7006 19.2979 13.4045 19.2304 13.1342 19.1005C12.8639 18.9707 12.6263 18.7817 12.4389 18.5475L0.599939 3.74854C0.364752 3.4544 0.21739 3.09984 0.174812 2.72565C0.132235 2.35147 0.196169 1.97286 0.359262 1.63341C0.522356 1.29395 0.777977 1.00744 1.09671 0.806852C1.41544 0.60626 1.78434 0.499737 2.16094 0.499538L25.8389 0.499538C26.2155 0.499737 26.5844 0.60626 26.9032 0.806852C27.2219 1.00744 27.4775 1.29395 27.6406 1.63341C27.8037 1.97286 27.8676 2.35147 27.8251 2.72565C27.7825 3.09984 27.6351 3.4544 27.3999 3.74854L15.5619 18.5475Z" fill="#005BAC"/>
							</svg>
						</div>
						<div class="tg_content_question_wrap_list_item_wrap">
							<div class="tg_content_question_wrap_list_item_wrap_inner">
								<div class="tg_content_question_wrap_list_item_textwidget">
									<div class="tg_content_question_wrap_list_item_textwidget_left">
										<span>A</span>
									</div>
									<div class="tg_content_question_wrap_list_item_textwidget_right">
										<b>問題ございません。</b>
										<p>開発言語・技術の選定、ソフトウェア設計、インフラ構築等を弊社で実施させていただきます</p>
										<p>弊社のテクニカルリーダーやエンジニアが、 最適なプランをご提案いたします。</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- tg_content_question_wrap_list_item -->
					<div class="tg_content_question_wrap_list_item">
						<div class="tg_content_question_wrap_list_item_title">
							<span>Q</span>
							<p>ミーティングやチャットなど、日本語でのやり取りは可能でしょうか？</p>
							<svg width="28" height="20" viewbox="0 0 28 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.5619 18.5475C15.3746 18.7817 15.1369 18.9707 14.8666 19.1005C14.5964 19.2304 14.3003 19.2979 14.0004 19.2979C13.7006 19.2979 13.4045 19.2304 13.1342 19.1005C12.8639 18.9707 12.6263 18.7817 12.4389 18.5475L0.599939 3.74854C0.364752 3.4544 0.21739 3.09984 0.174812 2.72565C0.132235 2.35147 0.196169 1.97286 0.359262 1.63341C0.522356 1.29395 0.777977 1.00744 1.09671 0.806852C1.41544 0.60626 1.78434 0.499737 2.16094 0.499538L25.8389 0.499538C26.2155 0.499737 26.5844 0.60626 26.9032 0.806852C27.2219 1.00744 27.4775 1.29395 27.6406 1.63341C27.8037 1.97286 27.8676 2.35147 27.8251 2.72565C27.7825 3.09984 27.6351 3.4544 27.3999 3.74854L15.5619 18.5475Z" fill="#005BAC"/>
							</svg>
						</div>
						<div class="tg_content_question_wrap_list_item_wrap">
							<div class="tg_content_question_wrap_list_item_wrap_inner">
								<div class="tg_content_question_wrap_list_item_textwidget">
									<div class="tg_content_question_wrap_list_item_textwidget_left">
										<span>A</span>
									</div>
									<div class="tg_content_question_wrap_list_item_textwidget_right">
										<p>
											<b>はい、プロジェクト進行はすべて日本語</b>で実施させていただきます。</p>
										<p>ビジネス日本語の話せるベトナム人ブリッジSEがお客様窓口を担当させていただき、 オンラインミーティングやテキストチャット</p>
										<p>などすべてのコミュニケーションを日本語で実施いたします。</p>
										<p>日本人のアカウントマネージャーや営業担当も、スムーズなプロジェクト進行をサポートさせていただきます。</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- tg_content_question_wrap_list_item -->
					<div class="tg_content_question_wrap_list_item">
						<div class="tg_content_question_wrap_list_item_title">
							<span>Q</span>
							<p>時差はありますか？</p>
							<svg width="28" height="20" viewbox="0 0 28 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.5619 18.5475C15.3746 18.7817 15.1369 18.9707 14.8666 19.1005C14.5964 19.2304 14.3003 19.2979 14.0004 19.2979C13.7006 19.2979 13.4045 19.2304 13.1342 19.1005C12.8639 18.9707 12.6263 18.7817 12.4389 18.5475L0.599939 3.74854C0.364752 3.4544 0.21739 3.09984 0.174812 2.72565C0.132235 2.35147 0.196169 1.97286 0.359262 1.63341C0.522356 1.29395 0.777977 1.00744 1.09671 0.806852C1.41544 0.60626 1.78434 0.499737 2.16094 0.499538L25.8389 0.499538C26.2155 0.499737 26.5844 0.60626 26.9032 0.806852C27.2219 1.00744 27.4775 1.29395 27.6406 1.63341C27.8037 1.97286 27.8676 2.35147 27.8251 2.72565C27.7825 3.09984 27.6351 3.4544 27.3999 3.74854L15.5619 18.5475Z" fill="#005BAC"/>
							</svg>
						</div>
						<div class="tg_content_question_wrap_list_item_wrap">
							<div class="tg_content_question_wrap_list_item_wrap_inner">
								<div class="tg_content_question_wrap_list_item_textwidget">
									<div class="tg_content_question_wrap_list_item_textwidget_left">
										<span>A</span>
									</div>
									<div class="tg_content_question_wrap_list_item_textwidget_right">
										<p>弊社の開発拠点のあるベトナムは、<b>日本と-2時間の時差</b>がございます。 (日本時間12:00はベトナム時間10:00)</p>
										<p>
											なお、ベトナム側の就業時間を日本時間 10:00-19:30で設定しておりますため、ほとんど時差を感じずにプロジェクト進行をして いただけます。
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- tg_content_question_wrap_list_item -->
					<div class="tg_content_question_wrap_list_item">
						<div class="tg_content_question_wrap_list_item_title">
							<span>Q</span>
							<p>最低発注期間・体制などの制限はありますか？</p>
							<svg width="28" height="20" viewbox="0 0 28 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.5619 18.5475C15.3746 18.7817 15.1369 18.9707 14.8666 19.1005C14.5964 19.2304 14.3003 19.2979 14.0004 19.2979C13.7006 19.2979 13.4045 19.2304 13.1342 19.1005C12.8639 18.9707 12.6263 18.7817 12.4389 18.5475L0.599939 3.74854C0.364752 3.4544 0.21739 3.09984 0.174812 2.72565C0.132235 2.35147 0.196169 1.97286 0.359262 1.63341C0.522356 1.29395 0.777977 1.00744 1.09671 0.806852C1.41544 0.60626 1.78434 0.499737 2.16094 0.499538L25.8389 0.499538C26.2155 0.499737 26.5844 0.60626 26.9032 0.806852C27.2219 1.00744 27.4775 1.29395 27.6406 1.63341C27.8037 1.97286 27.8676 2.35147 27.8251 2.72565C27.7825 3.09984 27.6351 3.4544 27.3999 3.74854L15.5619 18.5475Z" fill="#005BAC"/>
							</svg>
						</div>
						<div class="tg_content_question_wrap_list_item_wrap">
							<div class="tg_content_question_wrap_list_item_wrap_inner">
								<div class="tg_content_question_wrap_list_item_textwidget">
									<div class="tg_content_question_wrap_list_item_textwidget_left">
										<span>A</span>
									</div>
									<div class="tg_content_question_wrap_list_item_textwidget_right">
										<p>
											<b>特に発注期間や発注人月 (体制)に制限を設けておりません。</b>
										</p>
										<p>
											トライアルとして、プログラマー2名+ブリッジSEの小規模体制からスタートし、徐々にプログラマー10~20名の規模の体制に移
											                            行されるお客様もいらっしゃいます。
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- tg_content_question_wrap_list_item -->
					<div class="tg_content_question_wrap_list_item">
						<div class="tg_content_question_wrap_list_item_title">
							<span>Q</span>
							<p>見積りを依頼するときは、どのような情報を提供すればよいですか？</p>
							<svg width="28" height="20" viewbox="0 0 28 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.5619 18.5475C15.3746 18.7817 15.1369 18.9707 14.8666 19.1005C14.5964 19.2304 14.3003 19.2979 14.0004 19.2979C13.7006 19.2979 13.4045 19.2304 13.1342 19.1005C12.8639 18.9707 12.6263 18.7817 12.4389 18.5475L0.599939 3.74854C0.364752 3.4544 0.21739 3.09984 0.174812 2.72565C0.132235 2.35147 0.196169 1.97286 0.359262 1.63341C0.522356 1.29395 0.777977 1.00744 1.09671 0.806852C1.41544 0.60626 1.78434 0.499737 2.16094 0.499538L25.8389 0.499538C26.2155 0.499737 26.5844 0.60626 26.9032 0.806852C27.2219 1.00744 27.4775 1.29395 27.6406 1.63341C27.8037 1.97286 27.8676 2.35147 27.8251 2.72565C27.7825 3.09984 27.6351 3.4544 27.3999 3.74854L15.5619 18.5475Z" fill="#005BAC"/>
							</svg>
						</div>
						<div class="tg_content_question_wrap_list_item_wrap">
							<div class="tg_content_question_wrap_list_item_wrap_inner">
								<div class="tg_content_question_wrap_list_item_textwidget">
									<div class="tg_content_question_wrap_list_item_textwidget_left">
										<span>A</span>
									</div>
									<div class="tg_content_question_wrap_list_item_textwidget_right">
										<p>すでに基本設計書・仕様書・RFP 機能一覧等のご用意がございましたら、 ご共有いただけますと幸いです。</p>
										<p>特にまだドキュメントのご用意がない場合は、 企画構想 必要なエンジニアのスキル要件などを営業担当者にお伝えください。</p>
										<b>必要な情報は弊社からヒアリングさせていただきますので、 お気軽にお問い合わせ・ご相談くださいませ。</b>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- tg_content_question_wrap_list_item -->
					<div class="tg_content_question_wrap_list_item">
						<div class="tg_content_question_wrap_list_item_title">
							<span>Q</span>
							<p>他社が開発したシステムの改修や保守運用をしてもらうことはできますか？</p>
							<svg width="28" height="20" viewbox="0 0 28 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.5619 18.5475C15.3746 18.7817 15.1369 18.9707 14.8666 19.1005C14.5964 19.2304 14.3003 19.2979 14.0004 19.2979C13.7006 19.2979 13.4045 19.2304 13.1342 19.1005C12.8639 18.9707 12.6263 18.7817 12.4389 18.5475L0.599939 3.74854C0.364752 3.4544 0.21739 3.09984 0.174812 2.72565C0.132235 2.35147 0.196169 1.97286 0.359262 1.63341C0.522356 1.29395 0.777977 1.00744 1.09671 0.806852C1.41544 0.60626 1.78434 0.499737 2.16094 0.499538L25.8389 0.499538C26.2155 0.499737 26.5844 0.60626 26.9032 0.806852C27.2219 1.00744 27.4775 1.29395 27.6406 1.63341C27.8037 1.97286 27.8676 2.35147 27.8251 2.72565C27.7825 3.09984 27.6351 3.4544 27.3999 3.74854L15.5619 18.5475Z" fill="#005BAC"/>
							</svg>
						</div>
						<div class="tg_content_question_wrap_list_item_wrap">
							<div class="tg_content_question_wrap_list_item_wrap_inner">
								<div class="tg_content_question_wrap_list_item_textwidget">
									<div class="tg_content_question_wrap_list_item_textwidget_left">
										<span>A</span>
									</div>
									<div class="tg_content_question_wrap_list_item_textwidget_right">
										<p>
											<b>もちろん可能です。</b>
										</p>
										<p>既存システムの改修の際は、システムのソースコードをお客様から共有いただきますが、 場合によってはゼロから開発した方がコ</p>
										<p>
											ストを押さえられるケースもございます。 ご要望に応じて柔軟に対応いたしますので、まずは一度ヒアリングをさせていただけま すと幸いです。
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- tg_content_question_wrap_list_item -->
				</div>
			</div>
		</div>
	</div>
</div>
