{#
/**
 * @file
 * Default theme implementation to webform confirmation.
 *
 * Available variables:
 * - progress: Progress bar.
 * - message: Confirmation message.
 * - back_url: URL to the previous webform submission.
 *
 * @see template_preprocess_webform_confirmation()
 *
 * @ingroup themeable
 */
#}

<div class="tg_content_contact_area">
  <div class="tg_container">
    <div class="tg_contact_thanks">
      <h5 class="title-contact">Contact</h5>
      <div class="tg_thanks_text">
        <h3><span>お問い合わせいただき</span><span>ありがとうございました。</span></h3>
      </div>
      <p>3営業日以内に担当者より、折り返しご連絡させていただきます。</p>
    </div>
  </div>
</div>
